@model RondaFinal

@if (Model.rsList.Count == 0)
{
    <h2>Não existem jogos registados.</h2>
}
else
{
    int numRondas = Model.rsList.Count;
    <div class="text-center">
        <table id="tabela" class="table table-condensed">
            <thead>
                <tr>
                    Summario das Rondas (GameID: @Model.GameID)
                    <th class="text-center" scope="col">Nº da Ronda</th>
                    <th class="text-center" scope="col">Decisão Tomada</th>
                    <th class="text-center" scope="col">Sala</th>
                    <th class="text-center" scope="col">Monstros Derrotados</th>
                    <th class="text-center" scope="col">Fugas</th>
                    <th class="text-center" scope="col">Itens Encontrados</th>
                    <th class="text-center" scope="col">Chave Encontrada?</th>
                    <th class="text-center" scope="col">Moedas de Ouro</th>
                    <th class="text-center" scope="col">Pontos Vida</th>
                    <th class="text-center" scope="col">Pontos Ataque</th>
                    <th class="text-center" scope="col">Pontos Sorte</th>
                    <th class="text-center" scope="col">Poções Vida</th>
                </tr>
            </thead>
            <tbody>
                @foreach (RoundSummary r in Model.rsList)
                {
                    <tr>
                        <td>@r.NumeroRonda</td>
                        <td>@r.DecisaoTomada</td>
                        <td>@r.Posicao</td>
                        <td>@r.NumInimigosDerrotados</td>
                        <td>@r.NumFugas </td>
                        <td>@r.NumItensEncontrados</td>
                        <td>
                            @if (r.Chave)
                            {
                                @:Sim
                            }
                            else
                            {
                                @:Não
                            }
                        </td>
                        <td>@r.MoedasOuro</td>
                        <td> @r.PontosVida</td>
                        <td>@r.PontosAtaque</td>
                        <td>@r.PontosSorte</td>
                        <td>@r.PocoesVida</td>
                    </tr>
                }
            </tbody>
        </table>
        <table id="tabela" class="table table-condensed">
            <thead>
                <tr>
                    Final do jogo (GameID: @Model.GameID)
                    <th class="text-center" scope="col">Nº de Rondas</th>
                    <th class="text-center" scope="col">Pontuação Final</th>
                    <th class="text-center" scope="col">Resultado Final</th>
                    <th class="text-center" scope="col">Chave Encontrada?</th>
                    <th class="text-center" scope="col">Passos Frente/Trás</th>
                    <th class="text-center" scope="col">Poções Usadas</th>
                    <th class="text-center" scope="col">Ataques</th>
                    <th class="text-center" scope="col">Fugas</th>
                    <th class="text-center" scope="col">Monstros Derrotados</th>
                    <th class="text-center" scope="col">Itens Encontrados</th>
                    <th class="text-center" scope="col">Áreas Investigadas</th>
                    <th class="text-center" scope="col">% Áreas Examinadas</th>
                </tr>
            </thead>
            <tbody>

                    <tr>
                        <td>@numRondas</td>
                        <td>@Model.MoedasOuroTotal</td>
                        <td>
                        @if (Model.ResultadoJogo == ResultadoJogo.Vitoria)
                        {
                            @:Vitoria
                        }
                        else if (Model.ResultadoJogo == ResultadoJogo.Derrota)
                        {
                            @:Derrota
                        }
                        @if (Model.ResultadoJogo == ResultadoJogo.Desistiu)
                        {
                            @:Desistiu
                        }
                        </td>
                        <td>
                            @if (Model.Chave)
                            {
                                @:Sim
                            }
                            else
                            {
                                @:Não
                            }
                        <td>@(Model.TotalMover - Model.NumFugas)</td>
                        <td>@Model.PocoesUsadas</td>
                        <td>@Model.TotalAtaques</td>
                        <td>@Model.NumFugas</td>
                        <td>@Model.NumInimigosDerrotados</td>
                        <td> @Model.NumItensEncontrados</td>
                        <td>@Model.TotalAreasExaminadas</td>
                        <td>@Model.PercentagemAreasInvestigadas</td>
                    </tr>
            </tbody>
        </table>
    </div>
}
