@{
    Layout = null;
}
@model SetepassosPRJ.Models.Jogo

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SetepassosPRJ</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body class="fundoJogo">

    <div class="row">
        <div class="col-sm-2">
            <div class="text-left">
                    <img src="~/images/@(Model.PerfilTipo) Frame mini.png" class="icons" />  @Model.Nome
            </div>
           
        </div>
        <div class="col-sm-3">
            @if (Model.Monstro == true || Model.UltimaAccao == PlayerAction.Attack)
            {
                    <div>
                        <img src="~/images/Icons/icon-monstro-luck.png" class="iconsMonstro"/> <strong>@Model.PontosSorteMonstro</strong>
                        <img src="~/images/Icons/icon-monstro-forca.png" class="iconsMonstro"/> <strong>@Model.PontosAtaqueMonstro</strong>
                        <img src="~/images/Icons/icon-monstro-vida.png" class="iconsMonstro"/> <strong>@Model.PontosVidaMonstro</strong> <p class="MensagemDano">@Model.MensagemDano</p>
                    </div>
                    <div>
                        <p class="MensagemMeuAtaque text-center">@Model.MensagemMeuAtaque</p>
                    </div>
                }
            </div>
        <div class="col-sm-5">
            <div class="text-center">
                <img src="~/images/MiniMap/mini-n-sala@(Model.Sala).png" />
            </div>
        </div>
        <div class="col-sm-2 text-left">
            <div>
                @if (Model.Chave)
                {
                    <img src="~/images/Icons/icon-key.png" class="icons" />
                    <p class="MensagemOutro">@Model.MensagemChave</p>
                }
                else
                {
                    <img src="~/images/Icons/icon-no-key.png" class="icons" />
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="areadados">

                <div>
                    <img src="~/images/Icons/icon-vida.png" class="icons" />  <strong>@Model.PontosVida</strong>  <p class="MensagemVidaPos">@Model.MensagemVidaPos</p> <p class="MensagemVidaNeg">@Model.MensagemVidaNeg</p>  <p class="MensagemPassarTempo">  @Model.MensagemPassarTempo</p>
                </div>
                <div>
                    <img src="~/images/Icons/icon-pocaoVida.png" class="icons" />  <strong>@Model.PocoesVida</strong> <p class="MensagemOutro" display="inline-block">@Model.MensagemPocao</p>
                </div>
                <div>
                    <img src="~/images/Icons/icon-forca.png" class="icons" />  <strong>@Model.PontosAtaque</strong>  <p class="MensagemOutro" display="inline-block">@Model.MensagemAtaque</p>
                </div>

                <div>
                    <img src="~/images/Icons/icon-luck.png" class="icons" />  <strong>@Model.PontosSorte</strong> <p class="MensagemOutro">@Model.MensagemSorte</p>
                </div>
                <div class="iconMoeda">
                    <img src="~/images/Icons/icon-moeda.png" class="icons" />  <strong>@Model.MoedasOuro</strong>  <p class="MensagemOutro"> @Model.MensagemOuro @Model.MensagemPlim</p>
                </div>
                <div>
                    <p>ID: @Model.GameID</p>

                </div>
            </div>
        </div>
        
        <div class="col-sm-7">
            @if (Model.PontosVida <= 0 || Model.ResultadoAccao == Result.GameHasEnded || Model.Desistiu == true)
            {
                <form asp-action="DadosJogo" method="post">
            <div class="text-center mensagemSaida">
                @Model.MensagemAccao
               <button class="BotaoSair" type="submit" name="gameid" value="@Model.GameID"><img src="~/images/btns/btn-sair.png" alt="Sair" z-index="3"></button> 
            </div>
                    </form>
            }
            else if (Model.ResultadoAccao == Result.SuccessVictory)
            {
                <form asp-action="DadosJogo" method="post">
                    <div class="text-center mensagemSaida">
                        @Model.MensagemAccao
                        <button  class="BotaoSair" type="submit" name="gameid" value="@Model.GameID"><img src="~/images/btns/btn-sair.png" alt="Sair"></button>
                    </div>
                    <img src="~/images/Contextual/victory.png" />
                </form>
            }
            else
            {
                <div class="areajogavel">
                    <div class="text-right">
                        <div>
                            <p class="MensagemAccaoFuga"> @Model.MensagemAccaoFuga</p>
                        </div>
                        <div>
                            <p class="MensagemAccao">@Model.MensagemAccao</p>
                        </div>
                        <div class="text-right">
                            @if (Model.EncontradoItem == true)
                            {
                                <img src="~/images/Icons/icon-surpresa.png" class="iconsItems" />
                            }
                            @if (Model.EncontradoTrevo == true)
                            {
                                <img src="~/images/Icons/icon-luck.png" class="iconsItems" />
                            }
                            @if (Model.EncontradoPocao == true)
                            {
                                <img src="~/images/Icons/icon-pocaoVida.png" class="iconsItems" />
                            }

                        </div>
                        <div>
                            <p class="MensagemAccaoMonstro">@Model.MensagemAccaoMonstro</p>
                        </div>


                    </div>

                    
                    @if (Model.EncontradoOuro == true)
                    {
                        <div class="text-right inline-block">
                            <img src="~/images/Icons/icon-ouro.png" class="iconsGold" />
                        </div>
                    }
                    </div>
                    @if (Model.EncontradoGato == true)
                    {
                        <audio autoplay>
                            <source src="~/sound/cat audio.mp3">
                        </audio>
                        <div class="imagemgatopreto">
                            <img src="~/images/Icons/icon-gatopreto.png" />
                        </div>
                    }



                    @if (Model.Monstro == true)
                    {
                        if (Model.UltimaAccao != PlayerAction.Attack && Model.UltimaAccao != PlayerAction.DrinkPotion)
                        {
                            <audio autoplay>
                                <source src="~/sound/Doh_sound.mp3">
                            </audio>
                        }

                        <!--Imagem do Monstro-->
                        @if (Model.MensagemDano != "" && Model.MensagemDano != "MISS")
                        {
                            <div>

                                <img src="~/images/Inimigos/SideShowBob-bruised.png" class="monstro" />
                            </div>
                        }
                        else
                        {
                            <div>

                                <img src="~/images/Inimigos/SideShowBob.png" class="monstro" />
                            </div>
                        }
                    }
                    }
                    @if (Model.LeveiDano == true)
                    {
                        <div class="puttop text-right"><img src="~/images/Contextual/blood.png" class="imagemblood" /></div>
                    }

                </div>
        <div class="col-sm-3 text-center">
            <form action="AccaoJogo" method="post">
                @if (Model.Monstro == false)
                {
                    <div class="areabotoes">
                        @if (Model.Sala != 7 || (Model.Sala == 7 && Model.Chave == true))
                        {
                        <div>
                            <input name="gameid" value="@Model.GameID" type="hidden" />
                            <button class="BotoesJogo" type="submit" name="action" value="GoForward"><img src="~/images/btns/btn-avancar1.png" alt="Avançar"></button> @Model.TotalMover
                        </div>
                        }
                        @if (Model.Sala != 1)
                        {
                            <div>
                                <input name="gameid" value="@Model.GameID" type="hidden" />
                                <button class="BotoesJogo" type="submit" name="action" value="GoBack"><img src="~/images/btns/btn-recuar1.png" alt="Recuar"></button> @Model.TotalMover
                            </div>
                        }
                        <div>
                            <input name="gameid" value="@Model.GameID" type="hidden" />
                            <button class="BotoesJogo" type="submit" name="action" value="SearchArea"><img src="~/images/btns/btn-examinar1.png" alt="Examinar"></button> @Model.TotalAreasExaminadas
                        </div>
                    </div>
                }
                else
                {
                    <div class="areabotoes">

                        <div>
                            <input name="gameid" value="@Model.GameID" type="hidden" />
                            <button class="BotoesJogo" type="submit" name="action" value="Attack"><img src="~/images/btns/btn-atacar1.png" alt="Atacar"></button> @Model.TotalAtaques
                        </div>
                        <div>
                            <input name="gameid" value="@Model.GameID" type="hidden" />
                            <button class="BotoesJogo" type="submit" name="action" value="Flee"><img src="~/images/btns/btn-fugir1.png" alt="Fugir"></button> @Model.TotalMover
                        </div>
                    </div>
                }
                @if (Model.PocoesVida > 0)
                {
                <div>
                    <input name="gameid" value="@Model.GameID" type="hidden" />
                    <button class="BotoesJogo" type="submit" name="action" value="DrinkPotion"><img src="~/images/btns/btn-pocao1.png" alt="Beber Poção"></button>
                </div>
                }
                <div>
                    <div>
                        <input name="gameid" value="@Model.GameID" type="hidden" />
                        <button class="BotoesJogo" type="submit" name="action" value="Quit"><img src="~/images/btns/btn-desistir1.png" alt="Desistir"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
