@{
    Layout = null;
}
@model SetepassosPRJ.Models.Jogo

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SetepassosPRJ</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body class="fundoJogo">
    <div class="row">
        <div class="col-md-2">
            <div class="text-left">

                @if (Model.PerfilTipo == "S")
                {
                    <img src="~/images/Nerd-Frame mini.png" class="icons" />
                }
                else if (Model.PerfilTipo == "W")
                {
                    <img src="~/images/Fat-Frame mini.png" class="icons" />
                }
                else if (Model.PerfilTipo == "B")
                {
                    <img src="~/images/Old-Frame mini.png" class="icons" />
                }
                @Model.Nome
            </div>
            <div>
                <img src="~/images/Icons/icon-vida.png" class="icons" />  <strong>@Model.PontosVida</strong>  <p class="MensagemVida">@Model.MensagemVida</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="text-center">
                <img src="~/images/MiniMap/mini-n-sala@(Model.Sala).png" />
            </div>
        </div>
        <div class="col-md-2 text-center">
            <div>
                @if (Model.Chave)
                {
                    <img src="~/images/Icons/icon-key.png" class="icons" />
                }
                else
                {
                    <img src="~/images/Icons/icon-no-key.png" class="icons" />
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="areadados">

                <div>
                    <img src="~/images/Icons/icon-pocaoVida.png" class="icons" />  <strong>@Model.PocoesVida</strong>
                </div>
                <div>
                    <img src="~/images/Icons/icon-forca.png" class="icons" />  <strong>@Model.PontosAtaque</strong>  <p class="MensagemOutro" display="inline-block">@Model.MensagemAtaque</p>
                </div>

                <div>
                    <img src="~/images/Icons/icon-luck.png" class="icons" />  <strong>@Model.PontosSorte</strong> <p class="MensagemOutro">@Model.MensagemSorte</p>
                </div>
                <div class="iconMoeda">
                    <img src="~/images/Icons/icon-moeda.png" class="icons" />  <strong>@Model.MoedasOuro</strong>  <p class="MensagemOutro"> @Model.MensagemPlim @Model.MensagemOuro</p>
                </div>
                <div>
                    <p>@Model.GameID</p>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="text-center">
                <p>@Model.MensagemAccao</p>
            </div>
            @if (Model.Monstro == true)
            {
                <!--Imagem do Monstro-->
            <img src="~/images/Inimigos/SideShowBob.png" class="monstro" />
            }
        </div>
        <div class="col-md-2 text-center">
            <form action="AccaoJogo" method="post">
                @if (Model.Monstro == false)
                {
                    <div class="areabotoes">
                        <div>
                            <input name="gameid" value="@Model.GameID" type="hidden" />
                            <button class="BotoesJogo" type="submit" name="action" value="GoForward"><img src="~/images/btns/btn-avancar.png" alt="Avançar"></button>
                        </div>
                        @if (Model.Sala != 1)
                        {
                            <div>
                                <input name="gameid" value="@Model.GameID" type="hidden" />
                                <button class="BotoesJogo" type="submit" name="action" value="GoBack"><img src="~/images/btns/btn-recuar.png" alt="Recuar"></button>
                            </div>
                        }
                        <div>
                            <input name="gameid" value="@Model.GameID" type="hidden" />
                            <button class="BotoesJogo" type="submit" name="action" value="SearchArea"><img src="~/images/btns/btn-examinar.png" alt="Examinar"></button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="areabotoes">

                        <div>
                            <input name="gameid" value="@Model.GameID" type="hidden" />
                            <button class="BotoesJogo" type="submit" name="action" value="Attack"><img src="~/images/btns/btn-atacar.png" alt="Atacar"></button>
                        </div>
                        <div>
                            <input name="gameid" value="@Model.GameID" type="hidden" />
                            <button class="BotoesJogo" type="submit" name="action" value="Flee"><img src="~/images/btns/btn-fugir.png" alt="Fugir"></button>
                        </div>
                    </div>
                }

                <div>
                    <input name="gameid" value="@Model.GameID" type="hidden" />
                    <button class="BotoesJogo" type="submit" name="action" value="DrinkPotion"><img src="~/images/btns/btn-pocao.png" alt="Beber Poção"></button>
                </div>
                <div>
                    <input name="gameid" value="@Model.GameID" type="hidden" />
                    <button class="BotoesJogo" type="submit" name="action" value="Quit"><img src="~/images/btns/btn-desistir.png" alt="Desistir"></button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
