@model List<HiScores>
@{
    ViewData["Title"] = "HiScores";
}

@if (Model.Count == 0)
{
    <h2>Não existem jogos registados.</h2>
}
else
{
    int rank = 1;
    <div class="text-center font-medium">
        <table id="tabela" class="table table-condensed">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Posição</th>
                    <th class="text-center" scope="col">Nome Jogador</th>
                    <th class="text-center" scope="col">Pontuação (Moedas de Ouro)</th>
                    <th class="text-center" scope="col">Resultado Final</th>
                    <th class="text-center" scope="col">Chave Encontrada?</th>
                    <th class="text-center" scope="col">Inimigos Derrotados</th>
                    <th class="text-center" scope="col">Fugas do Inimigo</th>
                    <th class="text-center" scope="col">Áreas Investigadas</th>
                    <th class="text-center" scope="col">Itens Encontrados</th>
                    <th class="text-center" scope="col">Poções Obtidas</th>
                    <th class="text-center" scope="col">Poções Usadas</th>
                </tr>
            </thead>
            <tbody>
                @foreach (HiScores jogo in Model)
                {
                    <tr>
                        <td>@rank</td>
                        <td>@jogo.Nome</td>
                        <td>@jogo.MoedasOuroTotal</td>
                        <td>
                            @if (jogo.ResultadoJogo == ResultadoJogo.Vitoria)
                            {
                                @:Vitoria
                            }
                            else if (jogo.ResultadoJogo == ResultadoJogo.Derrota)
                            {
                                @:Derrota
                            }
                           @if (jogo.ResultadoJogo == ResultadoJogo.Desistiu)
                           {
                                @:Desistiu
                            }
                        </td>
                        <td>@if (jogo.Chave)
                        {
                             @:Sim
                        }
                        else
                        {
                             @:Não
                        }
                        </td>
                        <td>@jogo.NumInimigosDerrotados</td>
                        <td> @jogo.NumFugas </td>
                        <td>@jogo.TotalAreasExaminadas</td>
                        <td>@jogo.NumItensEncontrados</td>
                        <td>@jogo.PocoesObtidas</td>
                        <td>@jogo.PocoesUsadas</td>
                    </tr>
                    rank++;
                }
            </tbody>
        </table>
    </div>
}