@model List<Jogo>
@{
    ViewData["Title"] = "HiScores";
}
    <div class="text-center">
        <table id="tabela" class="table table-condensed">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Posição</th>
                    <th class="text-center" scope="col">Nome Jogador</th>
                    <th class="text-center" scope="col">Pontuação (Moedas de Ouro)</th>
                    <th class="text-center" scope="col">Resultado Final</th>
                    <th class="text-center" scope="col">Chave Encontrada?</th>
                    <th class="text-center" scope="col">Inimigos Derrotados</th>
                    <th class="text-center" scope="col">Fugas do Inimigo</th>
                    <th class="text-center" scope="col">Áreas Investigadas</th>
                    <th class="text-center" scope="col">Itens Encontrados</th>
                    <th class="text-center" scope="col">Poções Obtidas</th>
                    <th class="text-center" scope="col">Poções Usadas</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Jogo jogo in Model)
                {
                <tr>
                    <td>Posição</td>
                    <td>@jogo.Nome</td>
                    <td>@jogo.MoedasOuro</td>
                    <td>
                        @if (jogo.ResultadoAccao == Result.SuccessVictory)
                            {
                        @:Vitoria
                            }
                            else if (jogo.ResultadoAccao == Result.GameHasEnded || jogo.PontosVida == 0)
                            {
                        @:Derrota
                            }
                    </td>
                    <td>
                        @if (jogo.Chave)
                        {
                        @:Sim
                        }
                        else
                        {
                        @:Não
                        }
                </td>
                <td>@jogo.NumInimigosDerrotados</td>
                <td> @jogo.NumFugas </td>
                <td>@jogo.NumAreasInvestigadas</td>
                <td>@jogo.NumItensEncontrados</td>
                <td>@jogo.PocoesObtidas</td>
                <td>@jogo.PocoesUsadas</td>
            </tr>
                }
